form {
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0.2em $light-gray;
  display: inline-block;
  margin: 1em;
  padding: 2em;

  h3 {
    margin: 1em 0 1.5em;
  }

  input {
    text-indent: 4px;
  }

  input, select {
    background: linear-gradient(top, lighten($pale-gray, 2%), $white 65%);
    border: 0.1em solid darken($off-white, 20%);
    border-radius: 0.5em;
    box-shadow: $light-gray 0 0 0.5em;
    box-sizing: border-box;
    margin: 1em;
    outline: 0;
    padding: 0.75em;
    width: $input-width;

    &:hover, &:focus {
      border-color: $pale-gray;
      box-shadow: $pale-gray 0 0 0.5em;
    }

    &[type="submit"] {
      background: $blue;
      border: 0;
      box-shadow: $blue 0 0 0.5em;
      color: $white;
      cursor: pointer;
      padding: 1em;
      margin-left: $input-width / 3;
      width: $input-width * 2 / 3;

      &:hover {
        background: radial-gradient(lighten($blue, 5%), $blue);
        box-shadow: $pale-gray 0 0 0.5em;
      }
    }
  }

  span {
    display: inline-block;
    margin-right: 0.5em;
    text-align: left;
    width: $form-span-width;
  }
}

@media all and (max-width: $input-width + $form-span-width) {
  form {
    h3 {
      margin: 1em 0;
    }

    span {
      margin: 1em 0;
      text-align: center;
    }
  }
}
