header {
  background: $pale-gray;
  margin-bottom: 2em;
  padding: 1em 0 2em 0;

  nav {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0 5px 10px 0;
        padding: 0;
        list-style: none;
        display: inline-block;

        a {
          padding: 0.8em 1em;
          text-decoration: none;
          color: $gray;

          &.selected {
            color: $dark-gray;

            &:hover {
              @extend &.selected;
            }
          }

          &:hover {
            color: darken($gray, 18%);
          }
        }
      }
    }
  }
}

@media all and (max-width: 32rem) {
  header {
    margin-bottom: 2em;
    padding-bottom: 4em;

    nav {
      position: relative;

      ul {
        background: $white;
        border: solid 0.1em $light-gray;
        border-radius: 0.5em;
        box-shadow: 0.05em 0.1em 0.2em $dark-gray;
        left: 1em;
        padding: 0.5em 0;
        position: absolute;
        top: 0;
        width: 14em;

        &:hover li a {
          display: block;
        }

        li {
          display: block;
          margin: 0;

          a {
            display: none;
            padding: 0.5em;

            &.selected {
              color: $dark-gray;
              display: block;
            }
          }
        }
      }
    }
  }
}
