header {
  background: $pale-gray;
  margin-bottom: 2em;
  padding: 1em 0 2em 0;

  nav {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0 5px 10px 0;
        padding: 0;
        list-style: none;
        display: inline-block;

        a {
          padding: 0.8em 1em;
          text-decoration: none;
          color: $gray;

          &.selected {
            color: darken($gray, 33%);

            &:hover {
              @extend &.selected;
            }
          }

          &:hover {
            color: darken($gray, 18%);
          }
        }
      }
    }
  }
}
