table {
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0.2em $light-gray;
  display: inline-block;
  margin: 1em auto;
  padding: 2em;

  h3 {
    margin: 1em 0 1.5em;
  }

  th {
    font-weight: inherit;
    font-size: 1.1em;
  }

  td {
    padding: 0.2em 1em;
  }
}
