//Colors
$black: #111;
$blue: #569;
$dark-gray: #444;
$gray: #999;
$light-gray: #aaa;
$off-white: #f3f3f3;
$pale-gray: #ddd;
$white: #fcfcfc;

//Dimensions
$input-width: 16em;
$form-span-width: 10em;
