@import "_vars";

body {
  background: $white;
  color: $black;
  font-family: sans-serif;

  form {
    input {
      width: $input-width;
    }

    select {
      width: $input-width;
    }

    span {
      display: inline-block;
      margin-right: 0.5em;
      text-align: left;
      width: $form-label-width;
    }
  }

  h1, h3 {
    font-weight: inherit;
  }

  nav {
    ul {
      list-style: none;
    }
  }

  table {
    margin: auto;

    th {
      font-weight: inherit;
      font-size: 1.1em;
    }
  }

  .center {
    text-align: center;
  }
}
