@import "_vars";
@import "_header";
@import "_form";

body {
  background: $off-white;
  color: $black;
  font-family: sans-serif;
  margin: 0;

  h1, h3 {
    font-weight: inherit;
  }

  table {
    margin: auto;

    th {
      font-weight: inherit;
      font-size: 1.1em;
    }
  }

  .center {
    text-align: center;
  }
}
