@import "vars";

body {
  background: $off-white;
  color: $black;
  font-family: sans-serif;
  margin: 0;

  button {
    cursor: pointer;
  }

  h1, h3 {
    font-weight: inherit;
  }

  h3 {
    margin: 2em 0 1em 0;
  }

  .center {
    text-align: center;
  }

  @import "header";
  @import "form";
  @import "table";
  @import "chart";
}
